# Combine Data

Jupyter Notebook to combine different csv files into a single one.

## Combining the datasets together

In [157]:
import pandas as pd
import glob

all_files = glob.glob("*.csv")

print(all_files)

['1.csv', '10.csv', '11.csv', '12.csv', '13.csv', '14.csv', '15.csv', '16.csv', '2.csv', '3.csv', '4.csv', '5.csv', '6.csv', '7.csv', '8.csv', '9.csv']

In [158]:
df = pd.concat((pd.read_csv(file) for file in all_files)) # Combine all the csv files into a single file

## Sorting the data (On the basis of time)

In [159]:
result = df['date'].str.split(" ", n = 1, expand = True) #Split the date 
  
df["date"]= result[0] 
  
df.insert(1, "time", result[1])

In [160]:

df.sort_values(['date','time'],inplace=True) # Sort the data
df.reset_index(drop=True,inplace=True) # Reset the index

## Remove unnecessary columns

In [161]:
df.drop(['geo'], axis = 1,inplace=True)

In [162]:
df.sample(5)

,date,time,username,to,replies,retweets,favorites,text,mentions,hashtags,id,permalink
67321,2020-03-30,18:10:15,rajat_patni27,NaN,0,0,0,Telangana is role model for other states. Hist...,@TelanganaCMO,#COVID19 #lockdown,1244688404765270017,https://twitter.com/rajat_patni27/status/12446...
42859,2020-03-28,15:15:40,iamvivekrk,NaN,0,1,1,Coronavirus: The fake health advice you should...,NaN,NaN,1243919692013563904,https://twitter.com/iamvivekrk/status/12439196...
125967,2020-04-05,18:33:16,sidnaazDilse,DrSakshiSingla,0,0,1,#GharBaithoIndia Go corona Go #IndiaFightsCorona,NaN,#GharBaithoIndia #IndiaFightsCorona,1246868523172810758,https://twitter.com/sidnaazDilse/status/124686...
64665,2020-03-30,13:50:34,Suhailxu,NaN,0,0,0,Go corona go.... – at Clock Tower,NaN,NaN,1244623052777938945,https://twitter.com/Suhailxu/status/1244623052...
95047,2020-04-02,14:51:29,sanjudu84045113,NaN,0,0,0,The whole contry is under lockdown but E.C.L i...,@MamataOfficial @CoalIndiaHQ @PMOIndia,NaN,1245725547121917955,https://twitter.com/sanjudu84045113/status/124...

## Save the dataframe as csv file

In [163]:
df.to_csv("Processed Data", sep='\t', encoding='utf-8',index=False)  #To read the data use pd.read_csv("Processed Data",sep='\t')